<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/index.css">
    <link rel="stylesheet" href="http://127.0.0.1:8000/static/styles/index.css">
    <title>FastAPI com Template</title>


</head>
<body>
    <header>
        <!--isso daqui vai ser uma imagem de alguns dados-->
        <h1 id="titulo-apresentacao">JOGO DO DAVI</h1>
        <button id="botao" >Play</button>
    </header>



    <script src="/static/src/entrada.js"></script>
</body>
</html>

