<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/jogo.css">
    <title>Pula Nuvem</title>
</head>
<body>
    <main> <!--isso daqui vai ser toda aquela parte-->

        <div class="personagem">
            
        </div>

        <div class="principal"> <!--isso daqui vai ser onde o jogo vai rodar-->

            <div class="caminho"> 
                  
                {{ Caminho | safe }}
            </div>
        </div>

        <div class="controles">
            <button id="Pulo">pulo</button>
            <button id="PuloDublo">pulo dublo</button>
        </div>
    </main>
</body>
</html>


