<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/jogo.css">
    <link rel="stylesheet" href="http://127.0.0.1:8000/static/styles/jogo.css">
    <script src="/static/src/onclick.js"></script>
    <script src="/static/src/doubleclick.js"></script>
    <title>Pula Nuvem</title>

</head>
<body>
    <main> <!--isso daqui vai ser toda aquela parte-->

        <div class="principal"> <!--isso daqui vai ser onde o jogo vai rodar-->
            <div id="personagem"></div>

            <div class="caminho"> 
                {{ Caminho | safe }}
            </div>
        </div>

        <div class="controles">
            <button id="Pulo"  onclick="pulo()">pulo</button>
            <button id="PuloDublo" onclick="doubleclick() ">pulo dublo</button>
        </div>
    </main>

</body>
</html>

