@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Press Start 2P", serif;

}

header {
    background-image: url("../img/fundo3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#titulo-apresentacao {
    color: white;
    display: flex;
    height: auto;
    width: auto;
}

#botao {
    margin-top: 100px;
    height: 330px;
    width: 330px;
    font-size: 2.3em;
    background-image: url("../img/nuvem-branca.png");
    background-color: transparent;
    background-size: cover;  
    background-position: center;
    border: none;
    cursor: pointer;
    position: relative;
    color: #393939;  
    transition: all 0.2s ease;
  }

#botao:hover {
    filter: brightness(0.85);
}

#botao:active {
    background-image: url("../img/nuvem-branca-sombra1.png");
    filter: brightness(0.8); 
    transform: translateY(3px); 
}

